<template>
  <div>
    <Table
      :searchBar="false"
      :addButton="false"
      :editButton="false"
      :productImage="true"
      :disable-pagination="true"
      :disable-footer="true"
      :data="cart"
      noDataMsg="No hay objetos en el carrito"
    />
    <v-btn raised @click="resetCart">Vaciar Carro</v-btn>
    <v-btn raised @click="buyProducts">Finalizar Compra</v-btn>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import Table from "@/components/Table.vue";
export default {
  name: "Cart",
  components: {
    Table,
  },
  computed: {
    ...mapState(["cart"]),
  },
  methods: {
    ...mapMutations(["resetCart"]),
    ...mapMutations(["buyProducts"]),
  },
};
</script>

<style lang="scss" scoped></style>
