<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-card class="py-5 px-5 my-2">
          Ingresos Totales: {{ getTotalMoney }}
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card class="py-5 px-5 my-2">
          Número de ventas: {{ getNumberOfSales }}
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col v-for="(item, index) in history" :key="index" cols="6">
        <List :item="item" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import List from "@/components/List.vue";
import { mapState, mapGetters } from "vuex";

export default {
  name: "History",
  components: {
    List,
  },
  computed: {
    ...mapState(["history"]),
    ...mapGetters(["getTotalMoney"]),
    ...mapGetters(["getNumberOfSales"]),
  },
};
</script>

<style lang="scss" scoped></style>
