<template>
  <v-container>
    <v-row>
      <v-col v-for="(product, index) in products" :key="index" cols="6">
        <Card :item="product" :index="index"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
/* Imports */
import Card from "@/components/Card";
import { mapState, mapMutations} from "vuex";

export default {
  name: "Shop",
  components: {
    Card,
  },
  computed: {
    ...mapState(["products"]),
  },
  methods: {
    ...mapMutations(["buyProducts"]),
  },
};
</script>