<template>
  <div>
    <Table
      :searchBar="true"
      :addButton="true"
      :editButton="true"
      :productImage="false"
      :data="products"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import Table from "@/components/Table.vue";

export default {
  name: "Store",
  components: {
    Table,
  },
  computed: {
    ...mapState(["products"]),
  },
};
</script>

<style lang="scss" scoped></style>
