<template>
  <section id="header">
    <template>
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="6">
          <p class="promo-title white--text">Bienvenido a Gardenify</p>
          <p class="mx-10 pb-5 white--text">
            Te traemos los mejores productos de jardinería interior
            automatizada. ¿Vienes por tu Smart Plant Pot? ¡Que esperas, te
            llevamos directo a la tienda!
          </p>
          <v-btn to="/tienda" color="#ffffff" class="green--text px-10">
            <span>¡QUIERO UN SMART POT!</span>
          </v-btn>
        </v-col>
        <v-col class="text-center" cols="6">
          <v-img
            class="my-10"
            src="@/assets/undraw_Gardening_eaf3.svg"
            height="65vh"
            contain="true"
          ></v-img>
        </v-col>
      </v-row>
    </template>
  </section>
</template>

<script>
export default {
  name: "Banner",
};
</script>

<style lang="scss" scoped>
section {
  background-image: linear-gradient(to right, #63d471, #2ca039);
  height: 95vh;
}

.promo-title {
  font-size: 40px;
  font-weight: bold;
}

p {
  color: "#ffffff";
}
</style>
