<template>
  <v-card>
    <v-img :src="item.imageURL" min-width="100%" max-height="20vh"> </v-img>
    <!-- Get Dynamic Price based on quantity -->
    <v-card-title
      >{{ item.name }} <v-spacer /> $
      {{
        quantity > 0
          ? Number(item.price) * Number(quantity)
          : Number(item.price)
      }}
      CLP</v-card-title
    >
    <v-card-text>{{ item.description }}</v-card-text>
    <v-card-actions>
      <v-text-field
        v-model="quantity"
        type="number"
        class="ml-2"
        label="Cantidad"
      ></v-text-field>
      <v-text-field
        type="number"
        class="mx-5"
        label="Stock despues"
        :placeholder="(item.quantity - quantity).toString()"
        disabled
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn text @click="addToCart">
        AGREGAR AL CARRO
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
/* Imports */
import { mapMutations } from "vuex";

export default {
  name: "Card",
  props: {
    item: {
      type: Object,
    },
    index: {
      type: Number,
    },
  },
  data() {
    return {
      quantity: 0,
    };
  },
  methods: {
    /* Map Mutations from Vuex Store */
    ...mapMutations(["addProductToCart"]),
    ...mapMutations(["editProduct"]),
    ...mapMutations(["setEditedIndex"]),
    /* Other Methods */
    addToCart() {
      /* Validations */
      if (this.item.quantity - this.quantity < 0) {
        alert("¡No hay stock suficiente!");
      } else if (this.quantity <= 0 || this.quantity === undefined) {
        alert("¡Revisa que no tengas numeros negativos ni 0!");
      } else {
        /* Logic */
        this.setEditedIndex(this.index);
        var cartProduct = {
          name: this.item.name,
          description: this.item.description,
          price: this.item.price,
          quantity: this.quantity,
          imageURL: "https://cdn.trendhunterstatic.com/thumbs/plantui-6.jpeg",
        };
        var editedProduct = {
          name: this.item.name,
          description: this.item.description,
          price: this.item.price,
          quantity: this.item.quantity - this.quantity,
          imageURL: "https://cdn.trendhunterstatic.com/thumbs/plantui-6.jpeg",
        };
        this.addProductToCart(cartProduct);
        this.editProduct(editedProduct);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
v-text-field {
  width: 10px;
}
</style>
