<template>
  <v-card class="mx-auto" tile>
    <v-list-item>
      <v-list-item-avatar>
        <v-img :src="item.imageURL"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ item.name }}</v-list-item-title>
        <v-list-item-subtitle> {{ item.description }}</v-list-item-subtitle>
        <v-list-item-content>
          $ {{ Number(item.price) * Number(item.quantity) }}
        </v-list-item-content>
        <v-list-item-content>
          Cantidad comprada: {{ item.quantity }}
        </v-list-item-content>
      </v-list-item-content>
      <!-- Passing current item as a prop to Detail Dialog-->
      <v-list-item-action>
        <!-- Calling Dialog with Information Icon -->
        <DetailDialog :item="item" />
      </v-list-item-action>
    </v-list-item>
  </v-card>
</template>

<script>
import DetailDialog from "@/components/dialogs/DetailDialog.vue";
export default {
  name: "List",
  components: {
    DetailDialog,
  },
  props: {
    item: {
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped></style>
