<template>
  <v-app-bar app color="#3BC14A" dark>
    <v-btn class="px-10 mx-2" to="/" text>
      <span>Inicio</span>
    </v-btn>

    <v-spacer></v-spacer>
    <!-- Routes -->
    <v-btn class="px-10 mx-2" to="/tienda" text>
      <span>Tienda</span>
    </v-btn>
    <v-btn class="px-10 mx-2" to="/almacen" text>
      <span>Almacen</span>
    </v-btn>
    <v-btn class="px-10 mx-2" to="/carrito" text>
      <span>Carrito {{ getNumberOfCartProducts }}</span>
    </v-btn>
    <v-btn class="px-10 mx-2" to="/historial" text>
      <span>Historial</span>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      nombre: "hola",
    };
  },
  /* Map Getters & State from Vuex Store */
  computed: {
    ...mapState(["cart"]),
    ...mapGetters(["getNumberOfCartProducts"]),
  },
};
</script>

<style lang="scss" scoped>
/* Remove underline and set color to route-link */
a {
  text-decoration: none;
  color: "white";
}
</style>
