<template>
  <v-card>
    <!-- SearchBar -->
    <template v-if="searchBar"
      ><v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar producto"
          single-line
          hide-details
        ></v-text-field> </v-card-title
    ></template>
    <template v-else></template>
    <!-- Table -->
    <v-data-table
      :headers="headers"
      :items="data"
      :search="search"
      :hide-default-footer="disableFooter"
      :disable-pagination="disablePagination"
    >
      <!-- Table Header-->
      <template v-if="addButton" v-slot:top>
        <v-toolbar flat color="white">
          <v-spacer />
          <FormDialog />
        </v-toolbar>
      </template>
      <template v-else v-slot:top> </template>
      <!-- Actions Column -->
      <!-- eslinter-vue having trouble with Vuetify v-slot item.<name> -->
      <template v-slot:item.action="{ item }">
        <!-- Edit Icon -->
        <v-icon
          v-if="editButton"
          small
          class="mx-2"
          @click="openEditDialog(item)"
        >
          mdi-pencil
        </v-icon>
        <span v-else></span>
        <!-- Passing item to delete inside -->
        <DeleteDialog :itemToDelete="item" :parent="parent" />
      </template>
      <template v-slot:item.imageURL="{ item }">
        <v-img :src="item.imageURL" max-width="100" max-height="100"> </v-img>
      </template>
      <template v-slot:no-data>
        <!-- Dynamic Msg -->
        <p>{{ noDataMsg }}</p>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
/* Imports */
import FormDialog from "@/components/dialogs/FormDialog.vue";
import DeleteDialog from "@/components/dialogs/DeleteDialog.vue";
import { mapState, mapMutations } from "vuex";

export default {
  name: "Table",
  components: {
    FormDialog,
    DeleteDialog,
  },
  /* Used for dynamic component rendering */
  props: {
    searchBar: {
      type: Boolean,
    },
    addButton: {
      type: Boolean,
    },
    editButton: {
      type: Boolean,
    },
    data: {
      type: Array,
    },
    productImage: {
      type: Boolean,
    },
    disablePagination: {
      type: Boolean,
    },
    disableFooter: {
      type: Boolean,
    },
    noDataMsg: {
      type: String,
    },
  },
  created() {
    /* If productImage exists then add it to headers */
    this.productImage
      ? this.headers.unshift({ text: "", value: "imageURL", width: "10vw" })
      : console.log("No images");
  },
  data() {
    return {
      search: "",
      /* This will be used by the Dialog to determine what array to delete */
      parent: this.$parent.$options.name,
      /* Table Headers */
      headers: [
        {
          text: "Nombre",
          align: "start",
          value: "name",
        },
        {
          text: "Descripción",
          value: "description",
          sortable: false,
          width: "50vw",
        },
        { text: "Precio", value: "price", width: "10vw" },
        { text: "Cantidad", value: "quantity", width: "10vw" },
        { text: "Acciones", value: "action", width: "10vw" },
      ],
    };
  },
  computed: {
    /* Map State from Vuex Store */
    ...mapState(["editedIndex"]),
  },
  methods: {
    /* Map Mutations from Vuex Store*/
    ...mapMutations(["setEditedIndex"]),
    ...mapMutations(["setFormDialogVisible"]),

    /* Passing product index so other components can CRUD directly from Vuex Store
       EDIT & CREATE ARE THE SAME DIALOG */
    openEditDialog(item) {
      this.setEditedIndex(this.data.indexOf(item));
      this.setFormDialogVisible(true);
    },
  },
};
</script>
