<template>
  <v-dialog v-model="dialog" persistent max-width="400">
    <!-- Dialog Activator -->
    <template v-slot:activator="{ on, attrs }">
      <v-icon small class="mx-2" v-bind="attrs" v-on="on">
        mdi-delete
      </v-icon>
    </template>
    <!-- Dialog -->
    <v-card>
      <v-card-title class="headline">¿Estás seguro?</v-card-title>
      <v-card-text
        >¡Al continuar borrarás el producto de forma definitiva y no podrás
        volver atrás. ¿Estás seguro de quere continuar?</v-card-text
      >
      <!-- Actions -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="close">Cancelar</v-btn>
        <v-btn color="green darken-1" text @click="deleteItem">Borrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/* Imports */
import { mapMutations } from "vuex";
export default {
  name: "DeleteDialog",
  props: {
    itemToDelete: {
      type: Object,
    },
    parent: {
      type: String,
    },
  },
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    /* Map Mutations from Vuex Store */
    ...mapMutations(["deleteProduct"]),
    ...mapMutations(["deleteProductFromCart"]),
    /* Other Methods */
    close() {
      this.dialog = false;
    },
    deleteItem() {
      /* Cart -> Table -> This */
      if (this.parent === "Cart") {
        this.deleteProductFromCart(this.itemToDelete);
      } else {
        this.deleteProduct(this.itemToDelete);
      }
      this.close();
    },
  },
};
</script>

<style lang="scss" scoped></style>
