<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <!-- Dialog Activator -->
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon color="grey lighten-1">mdi-information</v-icon>
        </v-btn>
      </template>
      <!-- Dialog -->
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ item.name }}
        </v-card-title>

        <v-card-text class="mt-5"> {{ item.description }}</v-card-text>
        <v-card-text> Precio normal: {{ item.price }}</v-card-text>
        <v-card-text>
          Precio total:
          {{ Number(item.price) * Number(item.quantity) }}</v-card-text
        >
        <v-card-text> Cantidad comprada: {{ item.quantity }}</v-card-text>
        <v-divider></v-divider>
        <!-- Action -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "DetailDialog",
  data() {
    return {
      dialog: false,
    };
  },
  props: {
    /* Recieves Item from parent */
    item: {
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped></style>
