<template>
  <v-dialog persistent :value="dialog" max-width="500px">
    <!-- Dialog Activator -->
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="primary"
        dark
        class="mb-2"
        v-bind="attrs"
        v-on="on"
        @click="openDialog"
        >Añadir</v-btn
      >
    </template>
    <!-- Dialog -->
    <v-card>
      <!-- Title -->
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <!-- Content -->
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="editedItem.name"
                label="Nombre"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="editedItem.description"
                name="input-7-1"
                filled
                label="Descripción"
                auto-grow
                maxlength="200"
                counter
              ></v-textarea>
            </v-col>
            <v-col cols="6">
              <v-text-field
                type="number"
                v-model="editedItem.price"
                label="Precio"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                type="number"
                v-model="editedItem.quantity"
                label="Cantidad"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <!-- Actions -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="closeDialog">Cancelar</v-btn>
        <v-btn color="blue darken-1" text @click="saveNewData">Aceptar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "FormDialog",
  data() {
    return {
      /* object that recieves the form input data */
      editedItem: {
        name: "",
        description: "",
        price: Number(0),
        quantity: Number(0),
        imageURL: "https://cdn.trendhunterstatic.com/thumbs/plantui-6.jpeg",
      },
      /* used to reset dialog placeholders */
      defaultItem: {
        name: "",
        description: "",
        price: Number(0),
        quantity: Number(0),
        imageURL: "https://cdn.trendhunterstatic.com/thumbs/plantui-6.jpeg",
      },
    };
  },
  computed: {
    /* Map State from Vuex Store */
    ...mapState(["editedIndex"]),
    ...mapState(["dialog"]),
    /* Get title depending if creating or editing, based on index previously gathered from Table */
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Producto" : "Editar Producto";
    },
  },
  methods: {
    /* Map Mutations from Vuex Store */
    ...mapMutations(["setFormDialogVisible"]),
    ...mapMutations(["setEditedIndex"]),
    ...mapMutations(["editProduct"]),
    ...mapMutations(["addProduct"]),

    closeDialog() {
      this.setFormDialogVisible(false);
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.setEditedIndex(-1);
      });
    },
    openDialog() {
      this.setFormDialogVisible(true);
    },
    /* This will either edit or add a product based on index previosly gathered from Table */
    saveNewData() {
      /* Check empty spaces and negative values */
      if (
        this.editedItem.price <= 0 ||
        this.editedItem.quantity <= 0 ||
        this.editedItem.name.trim() === "" ||
        this.editedItem.description.trim() === ""
      ) {
        alert(
          "¡No puedes tener valores menores o iguales que cero! ¡Tambien revisa que tengas todos los campos llenos!"
        );
      } else {
        if (this.editedIndex > -1) {
          this.editProduct(this.editedItem);
        } else {
          this.addProduct(this.editedItem);
        }
        this.closeDialog();
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
